*
{
  margin: 0;
  padding: 0;
}
h3 {
  display: inline-block;
  color: navy;
  font-size: 6vw;
  margin-bottom: 20px;
  position: relative;
  left: 5%;
  border-block: 2px dashed red;
}
header img {
  width: 100vw;
}
div {
  display: flex;
  flex-wrap: wrap;
}
a img {
  width: 45vw;
  margin: 7px;
}
a video {
  width: 45vw;
  margin: 7px;
}